<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>{{ page.title }}</title>
		{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
		<meta name="author" content="{{ site.author.name }}">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200,700|Lobster' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-responsive.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css">

		<script type="text/javascript" src="/assets/javascripts/bootstrap.min.js"></script>

		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-18132057-4']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</head>

	<body>

		<div>
			<div class="container">
				<div class="row">
					<div id="about" class="span4" style="min-width:180px;">
						<a href="/"><span class="name">GERMAN</span> <span class="last">ESCOBAR</span></a>

						<div style="text-align:center; margin-top: 10px;">
						<ul class="images">
							<li class="first"><a href="http://www.twitter.com/germanescobar" target="_blank"><img src="/assets/images/twitter.png"></a></li>
							<li><a href="https://www.github.com/germanescobar" target="_blank"><img src="/assets/images/github.png"></a></li>
						</ul>
						</div>

					</div>
					<div id="content" class="span7 offset4">
						{{ content }}
					</div>
				</div>
			</div>
		</div>

	</body>
</html>